services:
    mysql:
        image: mysql:8.0
        container_name: ai_mysql
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: lab_iot
            MYSQL_USER: myuser
            MYSQL_PASSWORD: mypassword
        ports:
            - "13306:3306"
        volumes:
            - ./mysql_data:/var/lib/mysql # Sửa đường dẫn bên trong thành /var/lib/mysql

    redis:
        image: redis/redis-stack-server:latest # Redis Stack có RediSearch cho LangGraph
        container_name: ai_redis
        restart: always
        ports:
            - "16379:6379"
        volumes:
            - ./redis_data:/data # Redis lưu dữ liệu ở /data


    # mongodb:
    #     image: mongodb/mongodb-atlas-local
    #     container_name: ai_mongodb
    #     restart: always
    #     ports:
    #         - "27017:27017"
    #     volumes:
    #         - ./mongodb_data:/data/db
    # MongoDB lưu dữ liệu ở /data/db
# PHẦN QUAN TRỌNG: Nếu bạn dùng đường dẫn ./ (Bind Mount) như trên
# thì KHÔNG CẦN thêm phần volumes ở cuối.
# Dữ liệu sẽ xuất hiện ngay trong thư mục "superAI" của bạn.
